@charset "UTF-8";

body {
	margin : 0px;
}

#wrap {
	position : fixed;
/* 	background :  */
	width : 100%;
}

/* header_1_left Style */
.header_1 {
	background : #00bfa5;
	height : 50px;
}

.header_1_left {
	width : 720px;
	margin-left : 468px;
}

.header_1_left a {
	text-decoration : none;
}

.header_1_left img {
	margin-top : 12px;
	cursor : pointer;
}

.header_1_left span {
	position : relative;
	bottom : 4px;
	color : #fff;
	font-size : 12px;
	font-weight : 800;
}

strong {
	font-size : 12px;
	font-weight : 800;
}

.header_1_left_vertical {
	background : #fff;
	width : 1px;
	height : 20px;
	margin-top : -23px;
	margin-left : 168px;
}

.header_1_reservate {
	margin-top : -33px;
	margin-left : 185px;
}

/* header_1_right Style */
.header_1_right {
	height : 50px;
}

.header_1_right_myPage {
	box-sizing : border-box;
	height : 100%;
	width : 120px;
	margin-left : 1192px;
	margin-top : -36px;
	cursor : pointer;
	padding : 10px 20px 0 20px;
}

.myPageImg {
	margin-top : 5px;  
}

.myPageText {
	position : relative;
	bottom : 5px;
	font-size : 10px;
	font-weight : 700;
	color : #fff;
}

.header_1_right_myPage:hover {
	background : #54637a;
}

.header_1_right_vertical {
	background : #fff;
	width : 1px;
	height : 20px;
	margin-left : 1311px;
	margin-top : -35px;
}

.header_1_right_logOut {
	box-sizing : border-box;
	height : 100%;
	width : 120px;
	margin-left : 1310px;
	margin-top : -35px;
	cursor : pointer;
	padding : 10px 20px 0 20px;
}

.logOutImg {
	margin-top : 5px;  
}

.logOutText {
	position : relative;
	bottom : 5px;
	font-size : 10px;
	font-weight : 700;
	color : #fff;
}

.header_1_right_logOut:hover {
	background : #54637a;
}


/* header_2 Style */
.header_2 {
	background : white;
	height : 80px;
	box-shadow : 3px 1px 3px;
}

.header_2 .header_2_logo {
	width : 165px;
	margin-left : 470px;
}

.header_2_logo img {
	margin-top : 17px;
}

.header_2_banner {
	margin-left : 692px;
	margin-top : -30px;
	background : none;
}

.header_2_banner span {
	display : inline-block;
	padding : 0 20px;
	height : 50px;
}

.header_2_banner span:hover {
	position : relative;
	top : 2px; right : 2px;
	cursor : pointer;
	color : #777;
	text-decoration : underline #00bfa5 3px;
}

.notice_banner {
	display : none;
	position : relative;
	left : 805px;
	bottom : 10px;
	border-radius : 5px; 
	background : white;
	letter-spacing : 1px;
	border : 1px solid;
	box-sizing : border-box;
	width : 130px;
	height : 180px;
	text-align : center;
	font-size : 14px;
	font-weight : 500;
	color : #CACACA;
}

.notice_banner_detail {
	display : inline-block;
	cursor : pointer;
	width : 128px;
	height : 60px;
	vertical-align : middle;
	line-height : 60px;
	border-radius : 5px;
	color : black;
	font-weight : 800;
}

.notice_banner_detail:hover {
	background : #C2E2E8;
}

.reservate_banner {
	display : none;
	position : relative;
	left : 680px;
	bottom : 10px;
	background : white;
	border-radius : 5px; 
	letter-spacing : 1px;
	border : 1px solid;
	box-sizing : border-box;
	width : 130px;
	height : 120px;
	text-align : center;
	font-size : 14px;
	font-weight : 500;
	color : #CACACA;
}

.reservate_banner_detail {
	display : inline-block;
	cursor : pointer;
	width : 128px;
	height : 60px;
	vertical-align : middle;
	line-height : 60px;
	border-radius : 5px;
	color : black;
	font-weight : 800;
}

.reservate_banner_detail:hover {
	background : #C2E2E8;
}

.lodgeManage_banner {
	display : none;
	position : relative;
	left : 955px;
	bottom : 10px;
	background : white;
	border-radius : 5px; 
	letter-spacing : 1px;
	border : 1px solid;
	box-sizing : border-box;
	width : 130px;
	height : 240px;
	text-align : center;
	font-size : 14px;
	font-weight : 500;
	color : #CACACA;
}

.lodgeManage_banner_detail {
	display : inline-block;
	cursor : pointer;
	width : 128px;
	height : 60px;
	vertical-align : middle;
	line-height : 60px;
	border-radius : 5px;
	color : black;
	font-weight : 800;
}

.lodgeManage_banner_detail:hover {
	background : #C2E2E8;
}

a {
	text-decoration : none;
	color : black;
}




















