@charset "UTF-8";

.area_list {
	position: absolute;
	z-index: 0;
	width: 468px;
	height: 555px;
	font-size: 14px;
	background: white;
	border-radius: 5px;
	top: 200px;
	margin-left: 7%;
	padding-top: 25px;
	box-shadow: 0.4em 0.4em 1em  rgba(0, 0, 0, 0.2);
	display: none;
	z-index:2;
}
.sub_topA {height:211px;
width:100%;
background:url(../image/recommend_1.jpg) no-repeat 0px -200px;
background-size:100%;
min-width:1080px
}
.test{
	position:absolute;
	width:100%;
	height:211px;
	background:rgba(0, 0, 0, 0.5);
}

#motelLists{
	position:relative;
/* 	top:41px; */
	top : 10px;
	left:0;
	width:635px;
	height:300px;
	margin:0 auto;
}
#motelLists_shadow{
	width:635px;
	left:-24px;
	height:300px;
	margin:0 auto;
	padding:0 24px;
	z-index:-1; 
	background: rgb(0,0,0);
background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}
#hotelinfo{
	position:relative;
	width:635px;
	left:0px;
	top:-300px;
	height:300px;
	margin:0 auto;
	padding:0 24px;
	z-index:3; 
	background:rgba(0,0,0,0);
	border:none;
	outline:none;
}
#left{
	position:relative;
	top:160px;
	 width:50%;
	float:left;
	padding:0 0 0 24px;
}

#LodgementName{
	width:300px;
	font-size:30px;
	font-weight:bold;
	color:white;
	margin-bottom:10px;
}
#LodgementRecommend{
	font-size:24px;
	color:white;
	margin-bottom:10px;
}
#LodgementCome{
	position:relative;
	font-size:24px;
	color:white;
	margin-bottom:10px;
}
#right{
	position:relative;
	top:150px;
	width:50%;
	float:right;
	margin-right:24px;
}
#LodgemoentStayPrice {
	margin-bottom:10px;
	font-size:20px;
	font-weight:bold;
	color:white;
	float:right;
}
#LodgemoentSleepPrice {
	clear:both;
	font-size:20px;
	font-weight:bold;
	color:white;
	float:right;
}
#LodgemoentStayPrice label{
	font-size:16px;
	margin-right:10px
}
#LodgemoentSleepPrice label{
	font-size:16px;
	background:pink;
	margin-right:10px
}
.area_list li {
	width: 167px;
	height: 27px;
	margin: 0 0 0 32px;
}

.area_list .city li:hover a, .city li:hover {
	background: url("../image/ico_arr_gt_2.png") no-repeat 110px 0px;
	background-size: 10px;
	color: rgb(255, 0, 85);
}

.area_list a:visited, .isscroll_02 a:visited {
	text-decoration: none;
	color: black;
}
.area_list a, .isscroll_02 a{
	text-decoration: none;
	color: black;
}

.isscroll_02::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.isscroll_02 li {
	display: block;
	width: 167px;
	height: 40px;
	margin: 0 0 0 0px;
	padding: 0 0 10px 0;
}

.isscroll_02 {
	overflow: scroll;
	display: inline-block;
	position: absolute;
	top: 0px;
	margin-left: 160px;
	background: none;
	height: 555px;
	border-left:1px solid rgba(0, 0, 0, 0.1);
	padding:20px 0 0 30px;
}

.isscroll_02 .city_child ul {
	display: none;
	position: absolute;
	top: -540px;
	background: none;
	height: 460px;
}

.isscroll_02 .city_child {
	width: 90%;
}

.isscroll_02 .city_child li {
	padding: 2px 0 5px 0;
	width: 250px;
	line-height: 16px;
}

.isscroll_02 a {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
    word-break: keep-all;
    line-height: 16px;
    color: black;
}

.isscroll_02 a:visited {
	text-decoration: none;
	color: black;
}

.isscroll_02 a:hover {
	color: rgb(255, 0, 85);
}

.city_child span {
	display: inline-block;
	position: relative;
	top: -1px;
	height: 18px;
	margin-left: 3px;
	padding: 0 3px 0 3px;
	background: rgba(242, 16, 76, 0.92);
	font-size: 11px;
	line-height: 20px;
	color: #fff;
}

.city_child {
	display: none;
}

#city_child1 {
	display: block;
}
#bu{
	position:inherit;
	top:0;
	left:0;
	height:32px;
	width:206px;
	background:rgba(0,0,0,0);
	z-index:1;
}
#wrap_commertial{
	
	text-align:center;
	width: 635px;
	margin:30px auto;
	padding:20px 0 0 0;
	font-size:18px;
	font-weight:bold;
	color:grey;
}
#wrap_commertial{
	width: 635px;
	height: 19px;
	
}
#wrap_commertial span{
	
	float:left;
	
}
#cf{
	float:right;
	border:0px;
	width:100px;
	background:url(../image/ico_question.png) no-repeat 65px -1px;
	background-size:19px;
	font-size:14px;
	color:grey;
}
#cfPopup span{
	float:right;
	position: relative;
	top:16px;
	left:100px;
	padding:5px;
	width:180px;
	height:24px;
	font-size:14px;
	display: block;
	background:white;
	border-radius: 5px;
	box-shadow: 0.2em 0.2em 1em  rgba(0, 0, 0, 0.2);

}



